<h2>Ajouter un restaurant</h2>

<form #form="ngForm" (ngSubmit)="submit()">
  <div>
    <label for="nom">Nom</label>
    <input #userNameInput="ngModel" type="text" id="nom" name="nom" required minlength="1" maxlength="30" [(ngModel)]="restaurant.nom">
    <span *ngIf="userNameInput.invalid && userNameInput.errors && userNameInput.errors.required" style="color: red">Le champs est requis</span>
    <span *ngIf="userNameInput.invalid && userNameInput.errors && userNameInput.errors.minlength" style="color: red">Le champs est trop court</span>
    <span *ngIf="userNameInput.invalid && userNameInput.errors && userNameInput.errors.maxlength" style="color: red">Le champs est long</span>
  </div>
  <div>
    <label for="adresse">Auteur</label>
    <input #adresseInput="ngModel" type="text" id="adresse" name="adresse" required minlength="5" maxlength="50" [(ngModel)]="restaurant.adresse">
    <span *ngIf="adresseInput.invalid && adresseInput.errors && adresseInput.errors.required" style="color: red">Le champs est requis</span>
    <span *ngIf="adresseInput.invalid && adresseInput.errors && adresseInput.errors.minlength" style="color: red">Le champs est trop court</span>
    <span *ngIf="adresseInput.invalid && adresseInput.errors && adresseInput.errors.maxlength" style="color: red">Le champs est long</span>
  </div>
  <input type="submit">
</form>
